[submodule "pack/tpope/start/vim-abolish"]
	path = pack/tpope/start/vim-abolish
	url = ../../tpope/vim-abolish.git
[submodule "pack/tpope/start/vim-fugitive"]
	path = pack/tpope/start/vim-fugitive
	url = ../../tpope/vim-fugitive.git
[submodule "pack/tpope/start/vim-surround"]
	path = pack/tpope/start/vim-surround
	url = ../../tpope/vim-surround.git
[submodule "pack/thinca/start/vim-visualstar"]
	path = pack/thinca/start/vim-visualstar
	url = ../../thinca/vim-visualstar.git
	ignore = untracked
[submodule "pack/akinsho/start/toggleterm.nvim"]
	path = pack/akinsho/start/toggleterm.nvim
	url = ../../akinsho/toggleterm.nvim.git
	ignore = untracked
[submodule "pack/nvim-lua/start/plenary.nvim"]
	path = pack/nvim-lua/start/plenary.nvim
	url = ../../nvim-lua/plenary.nvim.git
[submodule "pack/nvim-telescope/start/telescope.nvim"]
	path = pack/nvim-telescope/start/telescope.nvim
	url = ../../nvim-telescope/telescope.nvim.git
[submodule "pack/cocopon/start/iceberg.vim"]
	path = pack/cocopon/start/iceberg.vim
	url = ../../cocopon/iceberg.vim.git
[submodule "pack/lewis6991/start/gitsigns.nvim"]
	path = pack/lewis6991/start/gitsigns.nvim
	url = ../../lewis6991/gitsigns.nvim.git
[submodule "pack/tpope/start/vim-commentary"]
	path = pack/tpope/start/vim-commentary
	url = ../../tpope/vim-commentary.git
[submodule "pack/nvim-lualine/start/lualine.nvim"]
	path = pack/nvim-lualine/start/lualine.nvim
	url = ../../nvim-lualine/lualine.nvim.git
[submodule "pack/neovim/start/nvim-lspconfig"]
	path = pack/neovim/opt/nvim-lspconfig
	url = ../../neovim/nvim-lspconfig.git
[submodule "pack/folke/start/trouble.nvim"]
	path = pack/folke/start/trouble.nvim
	url = ../../folke/trouble.nvim.git
[submodule "pack/nvim-treesitter/start/nvim-treesitter"]
	path = pack/nvim-treesitter/start/nvim-treesitter
	url = ../../nvim-treesitter/nvim-treesitter.git
[submodule "pack/inkarkat/start/vim-ReplaceWithRegister"]
	path = pack/inkarkat/start/vim-ReplaceWithRegister
	url = ../../inkarkat/vim-ReplaceWithRegister.git
