[submodule "pack/tpope/start/vim-abolish"]
	path = pack/tpope/start/vim-abolish
	url = ../../tpope/vim-abolish.git
[submodule "pack/tpope/start/vim-fugitive"]
	path = pack/tpope/start/vim-fugitive
	url = ../../tpope/vim-fugitive.git
[submodule "pack/tpope/start/vim-surround"]
	path = pack/tpope/start/vim-surround
	url = ../../tpope/vim-surround.git
[submodule "pack/thinca/start/vim-visualstar"]
	path = pack/thinca/start/vim-visualstar
	url = ../../thinca/vim-visualstar.git
[submodule "pack/akinsho/start/toggleterm.nvim"]
	path = pack/akinsho/start/toggleterm.nvim
	url = ../../akinsho/toggleterm.nvim.git
[submodule "pack/nvim-lua/start/plenary.nvim"]
	path = pack/nvim-lua/start/plenary.nvim
	url = ../../nvim-lua/plenary.nvim.git
[submodule "pack/nvim-telescope/start/telescope.nvim"]
	path = pack/nvim-telescope/start/telescope.nvim
	url = ../../nvim-telescope/telescope.nvim.git
[submodule "pack/cocopon/start/iceberg.vim"]
	path = pack/cocopon/start/iceberg.vim
	url = ../../cocopon/iceberg.vim.git
